<!DOCTYPE html>
<html lang="en">
   
    <%- include("layouts/header") -%> 
    <body>
        <!-- Navigation-->
        <%- include("layouts/navbar") -%> 
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/dashboard.jpg')">
            <div class="container position-relative px-4 px-lg-5 ">
       
                    <div class="col-md-10 col-lg-8 col-xl-7 head">
                        <div class="site-heading">
                            <h1>Dashboard</h1>
                            <span class="subheading">DriveTest Booking Kiosk</span>
                        </div>

                    </div>
             
            </div>
        </header>
        <!-- Main Content-->

        <main class="mb-4">
            <div class="container px-4 px-lg-5 con-margin">
                <div class="box-container">
                    <div class="box-model">
                        <p>The G driving exam is the final road exam to become a fully licensed driver in Ontario. It's the last step in the process to get your full driver's licence. The assessment covers everything from the G2 assessment and more advanced driving skills, including highway driving, parallel parking, lane changes, and more.</p>
                        <a class="nav-link px-lg-3 py-3 py-lg-4" href="/g">G test <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="box-model">
                        <p>Passing the Level Two (G2) road test gives you full Class G driving privileges. While the Level One road test deals with basic driving skills, the Level Two deals with advanced knowledge and skills that are generally gained with driving experience. When you take the test, the examiner will give you directions</p>
                        <a class="nav-link px-lg-3 py-3 py-lg-4" href="/g2">G2 test  <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
         
        </main>
       
        <!-- Footer-->
        <%- include("layouts/footer") -%> 

        <!-- scripts-->
        <%- include("layouts/script") -%> 
      
    </body>
</html>
